MyProject/Content/AssetsL2/Cliff1/* filter=lfs diff=lfs merge=lfs -text
MyProject/Content/AssetsL2/BigRock1/* filter=lfs diff=lfs merge=lfs -text
MyProject/Content/AssetsL2/Cliff2/* filter=lfs diff=lfs merge=lfs -text
MyProject/Content/AssetsL2/Ledge1/* filter=lfs diff=lfs merge=lfs -text
MyProject/Content/AssetsL2/Path/* filter=lfs diff=lfs merge=lfs -text
MyProject/Content/AssetsL2/Ground1/* filter=lfs diff=lfs merge=lfs -text
MyProject/Content/AssetsL2/Ledge2/* filter=lfs diff=lfs merge=lfs -text
MyProject/Content/AssetsL2/Ground2/* filter=lfs diff=lfs merge=lfs -text
MyProject/Content/AssetsL2/Crystal/* filter=lfs diff=lfs merge=lfs -text
MyProject/Content/Megascans/3D_Plants/Dead_Shrubs_vdknafgha/* filter=lfs diff=lfs merge=lfs -text
MyProject/Content/Megascans/3D_Plants/Dead_Shrubs_vdknafgha/Foliage/* filter=lfs diff=lfs merge=lfs -text
MyProject/Content/Megascans/3D_Plants/Dead_Shrubs_vdknbbuha/* filter=lfs diff=lfs merge=lfs -text
MyProject/Content/Megascans/3D_Plants/Dead_Shrubs_vdknbbuha/Foliage/* filter=lfs diff=lfs merge=lfs -text
MyProject/Content/AssetL1/Rock1/* filter=lfs diff=lfs merge=lfs -text
MyProject/Content/AssetL1/Ground1/* filter=lfs diff=lfs merge=lfs -text
MyProject/Content/Megascans/Decals/Graffiti_Tag_vkziah3l/* filter=lfs diff=lfs merge=lfs -text
MyProject/Content/Megascans/Decals/Graffiti_Tag_vkzichyl/* filter=lfs diff=lfs merge=lfs -text
MyProject/Content/Megascans/Decals/Graffiti_Tag_vkzicinl/* filter=lfs diff=lfs merge=lfs -text
MyProject/Content/Megascans/Decals/Graffiti_Tag_vkzidb3l/* filter=lfs diff=lfs merge=lfs -text
MyProject/Content/AssetL1/SmallPine/* filter=lfs diff=lfs merge=lfs -text
MyProject/Content/AssetL1/Snow1/* filter=lfs diff=lfs merge=lfs -text
MyProject/Content/AssetL1/Rock2/* filter=lfs diff=lfs merge=lfs -text
