MyProject/Content/AssetsL2/Cliff1/* filter=lfs diff=lfs merge=lfs -text
MyProject/Content/AssetsL2/BigRock1/* filter=lfs diff=lfs merge=lfs -text
MyProject/Content/AssetsL2/Cliff2/* filter=lfs diff=lfs merge=lfs -text
MyProject/Content/AssetsL2/Ledge1/* filter=lfs diff=lfs merge=lfs -text
MyProject/Content/AssetsL2/Path/* filter=lfs diff=lfs merge=lfs -text
MyProject/Content/AssetsL2/Ground1/* filter=lfs diff=lfs merge=lfs -text
MyProject/Content/AssetsL2/Ledge2/* filter=lfs diff=lfs merge=lfs -text
